/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   CSS RESET!!
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**********Global***********/
ol {
  list-style-type: decimal;
}

.hidden {
  display: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', sans-serif;
}

h4 {
	color: #ac4db3;
}

p, a {
  font-family: 'Open Sans', sans-serif;
}

.category {
	transform: rotate(90deg);
	transform-origin: left top 0;
}

a {
  color: #3d1144;
  font-weight: bold;
  padding-left: 10px;
  display: inline-block;
}

body {
	background-image: url(../images/bckgnd-texture-index-desktop.png); /* The image used */
  	background-position: center; /* Center the image */
  	background-repeat: repeat-y; /* Repeat the image horizontally */
  	background-size: cover; /* Resize the background image to cover the entire container */
}


button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.center {
  margin: auto;
}

#vidControls {
  background-color: #333333;
  padding-top: 5px;
  height: 30px;
}
.fa-pause, .fa-play, .fa-step-backward, .fa-volume-up, .fa-volume-off, .fa-expand-arrows-alt {
	color: #e4e4e4;
}
/***************************/

/**********Top Navigation***********/

  #header-logo {
    margin-left: 3rem;
  }

  .topBar {
  width: 100%;
  height: 20px;
  background-color: #512653;
  margin-bottom: 1rem;
	background-image: url(../images/recordplayer-bckgnd-img.jpg);
	background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-size: cover; /* Resize the background image to cover the entire container */
  }

  .topNav nav ol {
    margin-top: 1rem;
  }
  .topNav nav ol li{
    display: inline-block;
    margin-bottom: 1.5rem;
  }

  .topNav nav {
    display: block;
  }

  .topNav nav img {
    display: block;
    margin: 0 auto;
  }

.nav-numbers-font {
    font-size: 12px;
    color: #5a5a5a;
    float: left;
    font-weight: lighter;
  }


/* unvisited link */
.nav-links-font {
	font-size: 17px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	float: left;
	color: #3d1144;
	}

/* mouse over link */
.nav-links-font:hover {
	color: #ac4db3;
	transition-duration: 0.5s;
	text-decoration: none;
	}

.nav-underscore-font {
	font-size: 12px;
	color: #5a5a5a;
	float: left;
	font-weight: lighter;
	}

.nav-link-container {
	margin-left: 20px;
	}

.nav-numbers-font {
	font-size: 12px;
	color: #5a5a5a;
	float: left;
	font-weight: lighter;
	}

/* unvisited link */
.nav-links-font {
	font-size: 17px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	float: left;
	color: #3d1144;
	}

/* mouse over link */
.nav-links-font:hover {
	color: #ac4db3;
	transition-duration: 0.5s;
	text-decoration: none;
	}

.nav-underscore-font {
	font-size: 12px;
	color: #5a5a5a;
	float: left;
	font-weight: lighter;
	}

@media (min-width: 992px) {
#header-logo {
  	margin: 10px 0 30px 0;
  }

  .topBar {
    width: 100%;
    height: 20px;
    background-color: #512653;
  }

  .topNav nav ol li{
    display: inline-block;
    margin-bottom: 1.5rem;
  }

.topNav nav {
   display: flex;
 }

.topNav nav img {
   margin: 0;
 }

.topNav nav ol {
   margin-top: 3rem;
 }

.topNav nav ol li p {
   display: block;
 }

 .nav-link-container {
     margin-left: 40px;
   }
}
/***************************/


/**********Header***********/
.pure-volume-main-text {
	font-size: 5rem;
	color: #ac4db3;
  float: right;
  margin: 0 auto;
  padding-top: 10px;
}

.pure-volume-tagline-text {
	font-size: 15px;
	color: #4d4d4d;
	float: right;
}

header {
  padding: 1rem;
}

.headerVid {
  margin: 0 auto;
}

header h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  color: #ac4db3;
}

header p {
  color: white;
}

@media (min-width: 992px) {
  .pure-volume-main-text {
  	font-size: 8rem;
  	color: #ac4db3;
  	float: right;
  	margin: 0 auto;
  }
}
/***************************/

/**********Homepage*********/
video {
  width: 100%;
}

/*Video Player*/
input[type=range] {
  -webkit-appearance: none;
  width: 45%;
  margin: 5.65px 0;
}

input[type=range]#volumeBar {
  -webkit-appearance: none;
  width: 10%;
  margin: 5.65px 0;
}

input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.7px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #b271a9;
  border-radius: 2.8px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 13px;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.76);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.85px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #b77baf;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.7px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #b271a9;
  border-radius: 2.8px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 13px;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.76);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ad67a3;
  border: 0.2px solid #010101;
  border-radius: 5.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #b271a9;
  border: 0.2px solid #010101;
  border-radius: 5.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 13px;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.76);
  cursor: pointer;
  height: 8.7px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #b271a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #b77baf;
}
/*Video Player End*/

#latestSection {
	clear: both;
}

#latestSection h3 {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin: 1rem;
	clear: both;
  padding-top: 50px;
  padding-left: 100px;
  padding-bottom: 20px;
}

#latestBg {
	background-color: #3d1144;
  	padding: 1em;
	background-image: url(../images/recordplayer-bckgnd-img.jpg);
	background-position: center; /* Center the image */
  	background-repeat: no-repeat;
  	background-size: cover; /* Resize the background image to cover the entire container */
}

#latestBg h4 {
  font-size: 22px;
	line-height: 28px;
  font-weight: inherit;
  color: #ac4db3;
  margin-top: 60px;
	margin-bottom: 10px;
	padding-right: 20px;
}

#latestText p
{
	color: white;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 60px;
	padding-right: 20px;
	font-family: Raleway;
	margin-top: 10px;
}

.read-more-link {
	text-decoration: underline;
	color: #ac4db3;
	font-weight: lighter;
}

.read-more-link:hover {
	color: #4d4d4d;
	transition-duration: 0.2s;
}

/* Class for the numbers that are above each of the latest articles */
#articleSection .the-lastest-articles-numbers  {
	font-size: 36px;
	color: #4d4d4d;
	font-weight: normal;
  line-height: 0.333;
	margin: 30px 0px 30px 0px;
}

/* Class for the titles of the latest articles */
.the-latest-articles-titles {
	color: #ac4db3;
	font-size: 20px;
	line-height: 26px;
	margin-top: 10px;
	font-weight: 600;
	float: left;
	padding: 0px;
	margin-left: 0px;
}

.the-latest-articles-titles:hover {
	color: #4d4d4d;
	transition-duration: 0.5s;
	transition-delay: 0.1s;
	text-decoration: underline;
}

.the-latest-articles-categorys {
	font-size: 16px;
	color: #4d4d4d;
	line-height: 12px;
	font-weight: lighter;
  	padding-bottom: 50px;
	float: left;
	text-transform: uppercase;
}

.the-latest-articles-categorys:hover {
	text-decoration: none;
	color: #7E7E7E;
	transition-duration: 0.5s;
	transition-delay: 0.1s;
}

#latestSection .the-latest-articles-categorys {
	color: #fff;
	font-size: 25px;
	font-weight: lighter;
	margin-top: -30px;
}

#latestSection img {
  padding-right: 2rem;
}

#articleSection h4 {
	font-size: 1.2rem;
	margin: 1rem 0 1rem 0;
	padding-right: 2.5rem;
}

#articleSection h3 {
	font-size: 1.2rem;
}


.article-post img {
	width: 300px;
}

@media (min-width: 992px) {
  #articleSection {
    margin-left: 12em;
  }

  input[type=range] {
    -webkit-appearance: none;
    width: 75%;
    margin: 5.65px 0;
  }

  input[type=range]#volumeBar {
    -webkit-appearance: none;
    width: 10%;
    margin: 5.65px 0;
  }

	.article-post img {
		width: 450px;
	}

  #latestBg h4 {
    font-size: 1.5rem;
  	line-height: 28px;
    font-weight: inherit;
    color: #ac4db3;
    margin-top: 10rem;
  	margin-bottom: 10px;
  	padding-right: 20px;
  }

  .the-latest-articles-categorys {
  	font-size: 16px;
  	color: #4d4d4d;
  	line-height: 12px;
  	font-weight: lighter;
    padding-left: 2rem;
  	float: left;
  }
}

/* Class for the numbers that are above each of the latest articles */
#latestSection .the-lastest-articles-numbers {
	font-size: 2rem;
	color: #4d4d4d;
	font-weight: normal;
  line-height: 0.333;
	padding-left: 0;
}

#latestSection .lastestText-title {
	margin-top: 10px;
}

@media (min-width: 992px) {
	#latestSection .lastestText-title {
	margin-top: 100px;
}

#latestSection .the-lastest-articles-numbers {
	font-size: 36px;
	color: #4d4d4d;
	font-weight: normal;
  line-height: 0.333;
	margin-bottom: 0px;
	padding-left: 11rem;
}

#latestImage {
	margin-left: 180px;
}
}

/* Class for the titles of the latest articles */
.the-latest-artlicles-titles {
	color: #ac4db3;
	font-size: 20px;
	line-height: 26px;
	margin-top: 10px;
	font-weight: lighter;
	float: left;
	padding: 0px;
	margin-left: 0px;
}

.the-latest-artlicles-titles:hover {
	color: #4d4d4d;
	transition-duration: 0.5s;
	transition-delay: 0.1s;
}

.the-latest-articles-categorys {
	font-size: 16px;
	color: #4d4d4d;
	line-height: 12px;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
	float: left;
}

.the-latest-articles-categorys:hover {
	text-decoration: none;
	color: #7E7E7E;
	transition-duration: 0.5s;
	transition-delay: 0.1s;
}

#latestSection .the-latest-articles-categorys {
	color: #fff;
	font-size: 25px;
	font-weight: lighter;
}

#btn-view-more {
	background-color:#a43fcc;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
	font-weight:bold;
	padding:9px 15px;
	text-decoration:none;
  margin-bottom: 1rem;
}
#btn-view-more:hover {
	background-color:#808080;
}

#btn-view-more:active {
	position:relative;
	top:1px;
}
/***************************/

/*********ARTICLE END***********/

.bgimg
{
  width: 100%;
  z-index: 0;
}

#purevolumearticleheader
{
	color: #ac4db3;
	font-size: 122px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: right;
	margin-right: 25px;
}

#purevolumearticletext
{
	font-size: 17.78px;
	text-align: right;
	margin-right: 20px;
	font-weight: 600;
	color: #4d4d4d;
	margin-bottom: 20px;
	line-height: 1.2;

}

.entertainmentheading
{
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 600;
	color: #4d4d4d;
	margin-top: 230px;
}

#draketitle
{
	font-size: 52px;
	color: #ac4db3;
	padding-bottom: 20px;
	font-weight: 500;
	line-height: 1.2;
}

#drakemainphoto
{
	margin-bottom: 20px;
}

.main-article-text
{
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #4d4d4d;
	line-height: 1.5;
}

.boldedline
{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #4d4d4d;
}

.sectionheader
{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 600;
	color: #4d4d4d;
	margin-top: 20px;
	margin-bottom: 5px;
}

.photocredit
{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-style: italic;
	color: #4d4d4d;
}

.photolink
{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #ac4db3;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

#boldtext
{
	font-weight: bolder;
}

.article-imgs
{
	width: 500px;
	height: auto;
	margin: 0;
}

.more-button
{
	align-content: center;
	background-color: #3f1744;
	padding: 20px;
	width: 360px;
	height: 60px;
	font-size: 20px;
	color: white;
	font-family: Raleway;
}

.more-button:hover
{
	opacity: 0.9;
}

h6
{
	color: white;
	font-size: 30px;
}

.storycategory
{
	font-family: 'Raleway', sans-serif;
	font-size: 18.4px;
	font-weight: 400;
	color: #ac4db3;
	margin-top: 10px;
}

.storytitle
{
	font-family: 'Raleway', sans-serif;
	font-size: 18.4px;
	font-weight: 600;
	color: white;
	line-height: 1.3;
	margin-top: 5px;
}

.story
{
	float: left;
	max-width: 60%;
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}

.storyimg
{
	float: right;
	margin: 0;
	padding: 0;
	max-width: 35%;
	margin-left: 5%;
}

.storybox
{
	margin-top: 30px;
}

@media (min-width: 992px) {
	.entertainmentheading{
		margin-top: 100px;
}
}
/**********Footer***********/
footer {
  background-color: #3d1144;
  padding: 1em;
	background-image: url(../images/recordplayer-bckgnd-img.jpg);
	background-position: center; /* Center the image */
  background-repeat: repeat-y;
  background-size: cover; /* Resize the background image to cover the entire container */
	margin-top: 50px;
}

#footer-logo {
	margin: 10px 20px 50px 0px;
}

footer h2 {
  display: none;
}

footer img {
  margin: 0 auto;
}

footer ol {
	margin-top: 1rem;
	margin-left: 40px;
}

footer nav ol li {
  list-style-type: none;
  display: inline-block;
  padding-right: 2rem;
  margin-bottom: 1.5rem;
	margin-left: 10px;
	margin-right: 0px;
}

.footer-number-font {
	font-size: 12px;
	color: #c5c5c5;
	float: left;
	margin: 0px;
	padding: 0px;
	font-weight: lighter;
	}

.footer-links-font {
	font-size: 12px;
	color: #c5c5c5;
	float: left;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
	}

/* mouse over link */
.footer-links-font:hover {
	color: #ac4db3;
	transition-duration: 0.5s;
	text-decoration: none;
	}

.footer-underscore-font {
	font-size: 12px;
	line-height: 5px;
	color: #c5c5c5;
	float: left;
	margin: 0px;
	padding: 0px;
	font-weight: lighter;
	}

@media (min-width: 992px) {

	footer ol {
		margin-left: 30px;
	}
}
/* FOOTER END */
